header {
    background: #110f0f;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #0ef82d;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}